<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\La Esperanza.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <httpCompression minFileSizeForComp="1">
      <scheme dll="%Windir%\system32\inetsrv\gzip.dll" name="gzip" />
      <staticTypes>
        <add enabled="true" mimeType="text/*" />
        <add enabled="true" mimeType="message/*" />
        <add enabled="true" mimeType="application/javascript" />
        <add enabled="true" mimeType="application/json" />
        <add enabled="false" mimeType="*/*" />
      </staticTypes>
    </httpCompression>
    <directoryBrowse enabled="false" />
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/x-ms-manifest" />
      <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge" />
    </staticContent>
    <security>
      <requestFiltering allowDoubleEscaping="false">
        <verbs allowUnlisted="false">
          <add verb="POST" allowed="true" />
          <add verb="GET" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".webmanifest" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge, chrome=1" />
        <add name="Cache-Control" value="no-cache, no-store" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains;" />
        <add name="PraX-XSS-Protectiongma" value="0" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Powered-by" value="EGATEC Soluciones S.A de C.V." />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <caching enabled="true" enableKernelCache="false" />
  </system.webServer>
  <connectionStrings>
    <remove name="LocalSqlServer" />
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="c#" />
    <globalization culture="es-MX" uiCulture="es-MX" />
  </system.web>
</configuration>