body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    font-size: 13pt;
    font-family: 'Courier New';
}

.seal {
    font-family: 'Arial Rounded MT' !important;
    text-transform: capitalize !important;
    font-size: 8.5em;
    position: absolute;
    top: 60% !important;
    margin: auto;
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0.5;
}

    .seal div {
        border-width: 15px;
        border-style: solid;
        padding: 0.5rem;
        border-radius: 20px;
        box-shadow: 0 2px 10px -5px;
    }

@media screen {
    .seal {
        font-family: 'Arial Rounded MT' !important;
        text-transform: capitalize !important;
    }
}

@media print {
    .seal {
        font-family: 'Arial Rounded MT' !important;
        text-transform: capitalize !important;
    }
}

tfoot {
    display: table-row-group;
}

.alert {
    page-break-inside: avoid;
}
