<div class="modal modal-form fade" id="formModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                    <br />
                    Espere ...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i> Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-form fade" id="detailsModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times text-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                    <br />
                    Espere ...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-print="true"><i class="fa fa-receipt fa-fw"></i> Recibo</button>
                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-check-circle fa-fw"></i> Aceptar</button>
            </div>
        </div>
    </div>
</div>